div {
    margin: 10px;
}

.flex {
    display: flex;
    flex-flow: nowrap;
    align-content: center;
    justify-content: center;
}

.node {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    text-align: center;
    margin: 0px 0px;
    border-radius: 100%;
    font-size: small;
    font-weight: bold;
}

.size {
    width: 2vw;
    height: 2vw;
}

.selected {
    background-color: green;
    color: white;
}

button {
    z-index: 1;
}
